@import '_normalize';

$font-weight: 400;
$font-size: 18px;
$line-height: 24px;
$font-family: 'Circe', sans-serif;
$color: #537ea6;
$font-dir:'../fonts/';

@font-face {
  font-family: 'Circe';
  src: url($font-dir + "Circe/Circe-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Circe';
  src: url($font-dir + "Circe/Circe-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Circe';
  src: url($font-dir + "Circe/Circe-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'icomoon';
  src: url($font-dir + "icomoon/icomoon.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carrying:before {
  content: "\e900";
}
.icon-price:before {
  content: "\e901";
}
.icon-services-1:before {
  content: "\e902";
}
.icon-services-2:before {
  content: "\e903";
}
.icon-services-3:before {
  content: "\e904";
}
.icon-services-4:before {
  content: "\e905";
}
.icon-services-5:before {
  content: "\e906";
}
.icon-size:before {
  content: "\e907";
}
.icon-type-1:before {
  content: "\e908";
}
.icon-type-2:before {
  content: "\e909";
}
.icon-type-3:before {
  content: "\e90a";
}
.icon-volume:before {
  content: "\e90b";
}
.icon-check:before {
  content: "\e90c";
}

html {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
  &.overflow{
    height: auto;
    position: relative;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
    body{
      height: auto;
      position: relative;
      overflow: hidden !important;
    }
  }
}

body {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size:$font-size;
  line-height: $line-height;
  color:$color;
  min-width: 360px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}
main {
  background-color: #fff;
}

button, select {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a:hover {
  text-decoration: none;
}
*:focus {
  outline: none;
}

input[type="checkbox"] {
  margin: 0;
}
input[type="text"]::-ms-clear {  display: none; width : 0; height: 0; }
input[type="text"]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
	color: $color;
	border: 1px solid transparent;
	font-size: 18px;
	font-weight: 400;
	padding: 11px 19px;
	resize: none;
	overflow: hidden;
	transition: border .3s;
	&::placeholder {
		color: #c0d6ea;
	}
	&:active,
	&:focus {
		border-color: rgb(29, 49, 68);
	}
	&.error {
		border-color: #ff0000;
		color: #ff0000;
	}
}

/* styles */

.wrapper {
	max-width: 1140px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}
.flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-column {
	flex-direction: column;
}
.jc-between {
	justify-content: space-between;
}
.jc-center {
	justify-content: center;
}
.ai-center {
	align-items: center;
}
.bold {
	font-weight: 700;
}
.extra-bold {
	font-weight: 800;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.standart-btn {
	width: 300px;
  height: 50px;
	border-radius: 7px;
	background-color: rgb(0, 119, 230);
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
	box-shadow: none;
	transition: box-shadow .3s, background-color .3s;
	&:active {
		background-color: #3a6185;
	}
}
.title-l {
	font-weight: 800;
	font-size: 100px;
	line-height: 1;
}
.nowrap {
	white-space: nowrap;
}
/**********/
/* HEADER */

main {
	margin-top: 68px;
}

.header {
	height: 68px;
	width: 100%;
	padding: 0 30px 0 20px;
	box-shadow: 0px 3px 24px 0px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	&__logo {
		width: 135px;
	}
	&__tel {
		font-size: 16px;
		transition: color .3s;
		&:active {
			color: #1d3144;
		}
	}
}

.nav {
	width: 890px;
	&__li {
		cursor: pointer;
		font-size: 12px;
		transition: color .3s;
		&:active {
			color: #1d3144;
		}
	}
}

.hamburger{
	display: none;
  width: 30px;
  height: 18px;
  z-index: 5;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  margin-left: 40px;
  margin-right: auto;
  &.active{
    width: 22px;
    height: 22px;
    z-index: 100;
     span{
      background: #3a6185;
      transition-delay: .25s, 0s;
      left: -8px;
        &:nth-child(1) {
          width: 29px;
          transform: rotate(-45deg);
          top: 0px;
        }
        &:nth-child(2) {
          transform: translateX(100%)!important;
          opacity: 0;
          transition-delay: 0s, 0s;
        }
        &:nth-child(3) {
          transform: rotate(45deg);
          top: 20px;
          width: 29px;
        }
     }
  }
  span {
    display: block;
    position: absolute;
    height: 2px;
    background: #3a6185;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out , width .25s;
    transition-delay: 0s;
    &:nth-child(1) {
      width: 30px;
      top: 0px;
      transform-origin: right;
    }
    &:nth-child(2) {
      width: 22px;
      top: 8px;
      transform-origin: left;
      transform: translateX(0);
      transition: transform .25s , opacity .25s;
      transition-delay: .25s, .25s;
    }
    &:nth-child(3) {
      width: 30px;
      top: 16px;
      transform-origin: right;
    }
  }
}

/***************/
/* MAIN-SCREEN */

.main-screen {
	height: 800px;
	padding-top: 200px;
	position: relative;
	background: 50% 50% / cover no-repeat;
	&__bg {
		position: absolute;
		top: -210px;
		left: -550px;
	}
	&-content {
		position: relative;
		max-width: 580px;
		color: #3a6185;
	}
	&__title {
		font-size: 72px;
		line-height: 84px;
		position: relative;
		margin-bottom: 10px;
	}
	&__text {
		position: relative;
		max-width: 500px;
		margin-bottom: 35px;
	}
	&__btn {
		position: relative;
	}
}

/************/
/* SERVICES */

.services {
	position: relative;
	margin-top: -120px;
	margin-bottom: 130px;
	&-container {
		border-radius: 7px;
		background-color: #fff;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
	}
	&-item {
		width: 20%;
		height: 240px;
		position: relative;
		user-select: none;
		& + .services-item {
			&::before {
				content: "";
				position: absolute;
				height: 150px;
				width: 1px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background-color: #d8ecff;
				transition: background-color .3s;
			}
		}
		&:hover {
			.services-content {
				background-color: #0077e6;
				padding-top: 0;
				z-index: 2;
				transition-delay: 0s, 0s, 0s;
			}
			.services__text,
			.services__icon {
				color: #fff;
			}
			&::before {
				background-color: #0077e6;
			}
			.services__btn {
				opacity: 1;
			}
		}
	}
	&__icon {
		color: #c9e1f7;
		font-size: 75px;
		margin-bottom: 15px;
	}
	&-content {
		padding: 65px 25px 0;
		height: 280px;
		width: 100%;
		z-index: 0;
		border-radius: 7px;
		transition: background-color .3s, padding-top .3s, z-index 0s;
		transition-delay: 0s, 0s, .3s;
	}
	&__btn {
		margin-top: 40px;
		opacity: 0;
		cursor: pointer;
		transition: opacity .3s;
		span {
			margin-right: 20px;
			font-size: 20px;
			color: #fff;
			transition: color .3s
		}
		.play {
			position: relative;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background-color: #fff;
			transition: background-color .3s;
			&::after {
				content: "";
				position: absolute;
				border-left: 7px solid #0077e6;
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				top: 50%;
				left: calc(50% + 1px);
				transform-origin: center;
				transform: translate(-50%, -50%);
			}
		}
	}
}

/**************/
/* ADVANTAGES */

.advantages {
	margin-bottom: 100px;
	&-container {
		margin: 0 0 -55px -30px;
	}
	&__title {
		width: calc(33.33% - 30px);
		margin: 0 0 55px 30px;
		font-size: 60px;
		line-height: 1;
	}
	&-item {
		position: relative;
		width: calc(33.33% - 30px);
		border: 3px solid rgb(216, 236, 255);
		border-radius: 7px;
		padding: 50px 30px 25px;
		margin: 0 0 55px 30px;
	}
	&__icon {
		position: absolute;
		width: 100px;
		background-color: #fff;
		left: 15px;
		top: 0;
		transform: translateY(-50%);
	}
	&__subtitle {
		display: block;
		font-size: 20px;
		line-height: 1;
		margin-bottom: 10px;
	}
	&__text {
		line-height: 20px;
	}
}

/************/
/* AUTOPARK */

.slider {
	&-container {
		position: relative;
		overflow-x: hidden;
		width: calc(100% + 70px);
		margin-left: -35px;
	}
	&-item {
		transition: transform .3s;
	}
	&-nav {
		position: absolute;
		bottom: 25px;
		left: 50%;
		transform: translateX(-50%);
	}
	&-arrow {
		position: relative;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-color: #fff;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
		transition: background-color .3s;
		&::after {
			content: "";
			position: absolute;
			border-left: 7px solid #537ea6;
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			top: 50%;
			left: calc(50% + 1px);
			transform-origin: center;
			transform: translate(-50%, -50%);
			transition: border-color .3s;
		}
		&_prev {
			transform: scale(-1);
		}
	}
	&-counter {
		width: 80px;
		margin-left: 10px;
		margin-right: 10px;
		&__current {
			font-size: 32px;
			margin-right: 5px;
		}
		&__total {
			font-size: 24px;
			margin-left: 5px;
		}
	}
}

.autopark {
	padding: 90px 0 80px;
	margin-bottom: 90px;
	background-color: #e5f0f9;
	position: relative;
	&__title {
		position: relative;
	}
	.slider-container {
		height: 545px;
	}
	&__bg {
		position: absolute;
		height: 850px;
		top: -5px;
		left: 0;
	}
	&-item {
		width: 350px;
		padding: 50px 30px 30px;
		border-radius: 7px;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
		background-color: #fff;
		position: absolute;
		top: 35px;
		left: 35px;
		transform: translateX(1210px);
		&.first {
			transform: none;
		}
		&.second {
			transform: translateX(380px);
		}
		&.third {
			transform: translateX(760px);
		}
		&.prev {
			transform: translateX(-390px);
		}
	}
	&__img {
		margin-bottom: 50px;
		width: 100%;
	}
	&__car {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 17px;
	}
	&__carrying {
		width: 100%;
		margin-bottom: 12px;
		position: relative;
		padding-left: 30px;
	}
	&__volume {
		width: 100%;
		margin-bottom: 12px;
		position: relative;
		padding-left: 30px;
	}
	&__price {
		width: 100%;
		position: relative;
		padding-left: 30px;
	}
	&__icon {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

/********/
/* RENT */

.rent {
	margin-bottom: 130px;
	&__title {
		margin-bottom: 30px;
	}
	&__text {
		margin-bottom: 35px;
	}
	&-container {
		border-radius: 7px;
		background-color: #fff;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
	}
	&-content {
		padding: 80px 30px 0;
		height: 430px;
		width: 100%;
		border-radius: 7px;
		transition: background-color .3s, box-shadow .3s, padding .3s;
	}
	&-item {
		width: 33.33%;
		height: 330px;
		position: relative;
		user-select: none;
		&:hover {
			z-index: 2;
			.rent-content {
				background-color: #fff;
				box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
				padding-top: 0;
			}
			&::before {
				background-color: #fff;
			}
			& + .rent-item::before {
				background-color: #fff;
			}
			.rent__btn {
				opacity: 1;
			}
		}
		& + .rent-item {
			&::before {
				content: "";
				position: absolute;
				height: 220px;
				width: 1px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background-color: #d8ecff;
				transition: background-color .3s;
			}
		}
	}
	&__img {
		max-width: 285px;
		max-height: 145px;
		margin-bottom: 35px;
	}
	&__name {
		margin-bottom: 15px;
		font-size: 24px;
		line-height: 1;
	}
	&__size {
		width: 100%;
		margin-bottom: 10px;
		position: relative;
		padding-left: 30px;
		span:last-of-type {
			font-size: 16px;
		}
	}
	&__price {
		width: 100%;
		position: relative;
		padding-left: 30px;
	}
	&__icon {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&__btn {
		border-radius: 7px;
		border: 2px solid #537ea6;
		background-color: #fff;
		width: 246px;
  	height: 46px;
  	margin-top: 30px;
  	text-transform: uppercase;
  	font-size: 14px;
  	font-weight: 800;
  	color: $color;
  	opacity: 0;
  	transition: opacity .3s, color .3s, background-color .3s, border-color .3s;
  	&:active {
  		background-color: #fff !important;
  		color: $color !important;
  	}
	}
}

/*********/
/* ABOUT */

.about {
	margin-bottom: 130px;
	&__title {
		margin-bottom: 30px;
	}
	&__img {
		width: 520px;
		margin-right: 50px;
		position: relative;
		img {
			position: absolute;
			left: 50%;
			top: -39px;
			transform: translateX(-50%);
			&.tablet {
				display: none;
			}
		}
	}
	&__text {
		width: calc(100% - 570px);
	}
}

/****************/
/* TESTIMONIALS */

.testimonials {
	margin-bottom: 120px;
	.slider-container {
		height: 445px;
	}
	&-item {
		width: 540px;
		position: absolute;
		top: 35px;
		left: 35px;
		transform: translateX(1210px);
		&.first {
			transform: none;
		}
		&.second {
			transform: translateX(570px);
		}
		&.prev {
			transform: translateX(-580px);
		}
	}
	&-content {
		position: relative;
		width: 100%;
		height: 245px;
		background-color: #fff;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.1);
		border-radius: 7px;
		padding: 35px 40px 40px;
		margin-bottom: 50px;
	}
	&-bottom {
		margin-top: 7px;
	}
	&__text {
		max-height: 144px;
		height: 144px;
		overflow: hidden;
	}
	&__date {
		color: #c9e1f7;
		font-size: 16px;
	}
	&__more {
		cursor: pointer;
		user-select: none;
		transition: color .3s;
		&:active {
			color: #1d3144;
		}
	}
	&__author {
		font-size: 22px;
		line-height: 1;
	}
}

/*********/
/* PRICE */

.price {
	padding: 90px 0;
	margin-bottom: 90px;
	background-color: #e5f0f9;
	position: relative;
	&__title {
		margin-bottom: 30px;
		position: relative;
	}
	&__bg {
		position: absolute;
		top: -5px;
		left: 0px;
	}
	&-container {
		position: relative;
	}
	&__subtitle {
		display: block;
		font-size: 20px;
		line-height: 1;
		margin-bottom: 10px;
	}
	&-type {
		margin-bottom: 30px;
		&__ul {
			width: 100%;
			height: 50px;
			background-color: #fff;
			border-radius: 7px;
			box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
		}
		&__li {
			height: 60px;
			width: 33.33%;
			position: relative;
			cursor: pointer;
			border-radius: 7px;
			transition: background-color .3s, box-shadow .3s, color .3s;
			i {
				margin-right: 10px;
			}
			& + .price-type__li {
				&::before {
					content: "";
					position: absolute;
					height: 30px;
					width: 1px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					background-color: #d8ecff;
					transition: background-color .3s, color .3s;
				}
			}
			&.active {
				z-index: 1;
				background-color: #fff;
				color: #0077e6 !important;
				box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
				&::before {
					background-color: #fff;
				}
				& + .price-type__li::before {
					background-color: #fff;
				}
			}
			&:active {
				color: #1d3144;
			} 
		}
	}
	&-area {
		margin-right: 60px;
		&-dropdown {
			position: relative;
			z-index: 2;
			width: 370px;
			padding: 0px 20px;
			border-radius: 7px;
			
			&.active {
				.price-area__current {
					border-color: #d8ecff;
					&::after {
						transform: translateY(-50%) rotate(-90deg);
					}
				}
				.price-area__list {
					max-height: 500px;
					padding: 70px 20px 20px;
				}
			}
		}
		&__current {
			display: block;
			position: relative;
			cursor: pointer;
			z-index: 2;
			padding: 15px 0 10px;
			border-bottom: 1px solid #fff;
			transition: border-color .3s;
			&::after {
				content: "";
				position: absolute;
				border-top: 6px solid #537ea6;
				border-right: 6px solid transparent;
				border-left: 6px solid transparent;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				transition: transform .3s;
			}
		}
		&__list {
			width: 100%;
			background-color: #fff;
			border-radius: 7px;
			padding: 50px 20px 0px;
			position: absolute;
			top: 0;
			left: 0;
			max-height: 0;
			overflow: hidden;
			box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
			transition: max-height .3s, padding .3s;
		}
		&__item {
			font-size: 18px;
			line-height: 36px;
			cursor: pointer;
			user-select: none;
			i {
				color: #fff;
				font-size: 11px;
			}
			&.current {
				color: #acc5dc;
				pointer-events: none;
				i {
					color: #acc5dc;
				}
			}
			span {
				transition: color .3s;
			}
		}
	}
	&-size {
		margin-top: 30px;
		margin-bottom: 35px;
		&__ul {
			height: 250px;
			background-color: #fff;
			border-radius: 7px;
			box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
		}
		&__li {
			width: 33.33%;
			height: 260px;
			border-radius: 7px;
			position: relative;
			cursor: pointer;
			transition: background-color .3s, box-shadow .3s;
			& + .price-size__li {
				&::before {
					content: "";
					position: absolute;
					height: 200px;
					width: 1px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					background-color: #d8ecff;
					transition: background-color .3s;
				}
			}
			&.active {
				z-index: 1;
				background-color: #fff;
				box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
				.price-size__name {
					color: #0077e6 !important;
				}
				&::before {
					background-color: #fff;
				}
				& + .price-size__li::before {
					background-color: #fff;
				}
			}
			&:active {
				.price-size__name {
					color: #1d3144;
				}
			} 
		}
		&__img {
			max-width: 285px;
	    max-height: 145px;
	    margin-bottom: 20px;
		}
		&__name {
			transition: color .3s;
		}
	}
	&-total {
		margin-right: 60px;
		&__value {
			color: #0077e6;
			font-size: 24px;
		}
	}
	&-cost {
		&__value {
			color: #0077e6;
			font-size: 28px;
		}
	}
	&__btn {
		margin-left: auto;
		width: 370px;
	}
}


.amount {
	&__button {
		position: relative;
		width: 50px;
		height: 50px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
		transition: background-color .3s, box-shadow .3s;
		&::before {
			content: "";
			position: absolute;
			background-color: #537ea6;
			height: 2px;
			width: 14px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			transition: background-color .3s;
		}
		&_plus {
			&::after {
				content: "";
				position: absolute;
				background-color: #537ea6;
				height: 14px;
				width: 2px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				transition: background-color .3s;
			}
		}
		&:active {
  		background-color: #fff !important;
  		&::before,
  		&::after {
  			background-color: #537ea6 !important;
  		}
		}
	}
	&__number {
		width: 120px;
		padding: 0 15px;
		margin: 0 15px;
  	height: 50px;
		border-radius: 15px;
		background-color: #fff;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
		border: none;
		color: $color;
		font-size: 18px;
		text-align: center;
	}
}

/************/
/* CONTACTS */

.contacts {
	margin-bottom: 90px;
	&__title {
		margin-bottom: 60px;
		position: relative;
	}
	&-container {
		margin: 0 0 0 -30px;
	}
	&-item {
		position: relative;
		width: calc(25% - 30px);
		border: 3px solid rgb(216, 236, 255);
		border-radius: 7px;
		padding: 50px 25px 25px;
		margin: 0 0 0 30px;
	}
	&__icon {
		position: absolute;
		width: 100px;
		background-color: #fff;
		left: 15px;
		top: 0;
		transform: translateY(-50%);
	}
	&__subtitle {
		display: block;
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 10px;
	}
	&__text {
		font-size: 16px;
		line-height: 20px;
		a {
			transition: color .3s;
		}
	}
}

/********/
/* FORM */

.form {
	padding-bottom: 140px;
	&__title {
		margin-bottom: 30px;
	}
	&__input {
		border: none;
		outline: none;
		border-radius: 7px;
		box-shadow: 0px 0px 30px 0px rgba(0, 119, 230, 0.15);
		background-color: #fff;
		width: calc(33.33% - 20px);
  	height: 50px;
  	margin-bottom: 20px;
  	& + .form__input {
  		margin-left: 30px;
  	}
	}
	&__textarea {
		border-radius: 7px;
		box-shadow: 0px 0px 30px 0px rgba(0, 119, 230, 0.15);
		width: calc(100% - 380px);
  	height: 92px;
  	margin-right: 30px;
	}
	&-btn {
		width: 350px;
		&__text {
			color: #b3d7f8;
			font-size: 14px;
			line-height: 16px;
			a {
				text-decoration: underline;
				transition: color .3s;
				&:active {
					color: #1d3144 !important;
				}
			}
		}
	}
	&__btn {
		width: 100%;
	}
}

/**********/
/* FOOTER */

.footer {
	height: 60px;
	background-color: #537ea6;
	color: #fff;
	&__copyrights {
		margin-right: 45px;
		font-size: 16px;
	}
	&__policy {
		font-size: 16px;
		transition: color .3s;
		&:active {
			color: #1d3144 !important;
		}
	}
}

/*********/
/* MODAL */

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.modal {
  overflow: auto;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  &-container {
    position: relative;
    max-width: 100%;
    width: 500px;
    background-color: #fff;
    padding: 50px 60px 60px;
    margin: auto; 
    border-radius: 10px;
  }
  &__title {
  	font-weight: 800;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
  }
  input,
  textarea {
    width: 100%;
    border: 1px solid #c0d6ea;
    border-radius: 7px;
    & + input,
    & + textarea {
      margin-top: 20px;
    }
    & + .modal__politics {
      margin-top: 15px;
    }
    &:active,
    &:focus {
    	border-color: #1d3144;
    }
  }
  textarea {
    height: 80px;
  }
  &__btn {
    width: 300px;
    max-width: 100%;
  }
  &__politics {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 16px;
    color: #b3d7f8;
    text-align: center;
    a {
      text-decoration: underline;
      transition: color .3s;
    }
  }
  &__button {
  	width: 100%;
  }
  &.active {
    display: flex;
    align-items: center;
    .modal-container {
      animation: zoom .3s ease-in;
    }
  }
  &-close {
    cursor: pointer;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    transform: none;
    transition: transform .3s;
    &::before {
      content: "";
      width: 18px;
      height: 1px;
      background-color: #b7b7b7;
      position: absolute;
      left: -2px;
      top: 6px;
      transform: rotate(45deg);
      transition: background-color .3s;
    }
    &::after {
      content: "";
      width: 18px;
      height: 1px;
      background-color: #b7b7b7;
      position: absolute;
      left: -2px;
      top: 6px;
      transform: rotate(135deg);
      transition: background-color .3s;
    }
  }
}

/**********/
/* policy */

.policy {
  background: #fff;
  max-width: 940px;
  margin: 1em auto;
  border: 1px solid #ccc;
  padding: 1em 2%;
  h1 {
    color: #006dad;
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    line-height: 48px;
  }
  h2 {
    color: #444;
    font-size: 1.8em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    text-align: center;
  }
  p {
    color: #333;
    padding: 0 0 0.5em;
    font: 1em Arial;
    line-height: 150%;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
}

/* thanks */

.thanks {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.thanks-container {
  max-width: 630px;
  padding: 0 15px;
}

.thanks-container > span {
  display: block;
  text-align: center;
}

.thanks__title {
  color: #0d1d2e;
  font-size: 36px;
  font-weight: 500;
  line-height: 1;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 22px;
  margin-bottom: 22px;
}

.thanks__text {
  color: #1f1f1f;
  font-size: 20px;
  font-weight: 400;
}

/*************/
/* preloader */

$color-4: #1980e1;
$color-3: #327fc8;
$color-2: #4b7faf;
$color-1: #647e96;
$color-5: #0081fa;

$color: $color-1, $color-2, $color-3, $color-4, $color-5;

@mixin anim() {
  @keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
      transform: scale(2.5);
    }
    78%, 100% {
      opacity: 0;
    }
  }
}

.preloader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  animation-delay: 1s;
}

@for $i from 1 through 5 {
  .item-#{$i} {
    width: 20px;
    height: 20px;
    background: #f583a1;
    border-radius: 50%;
    @include anim();
    background-color: nth($color, $i);
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: nth($color, $i);
      opacity: 0.7;
      animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
      animation-delay: 200ms * $i;
      transition: 0.5s all ease;
      transform: scale(1);
    }
  }
}
