@import '_normalize';

$font-weight: 400;
$font-size: 18px;
$line-height: 24px;
$font-family: 'Circe', sans-serif;
$color: #537ea6;
$font-dir:'../fonts/';

@font-face {
  font-family: 'Circe';
  src: url($font-dir + "Circe/Circe-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Circe';
  src: url($font-dir + "Circe/Circe-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Circe';
  src: url($font-dir + "Circe/Circe-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'icomoon';
  src: url($font-dir + "icomoon/icomoon.ttf") format('truetype');
  font-style: normal;
  font-weight: 400;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-analitics-1:before {
  content: "\e900";
}

html {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
  &.overflow{
    height: auto;
    position: relative;
    overflow: hidden !important;
    -webkit-overflow-scrolling: touch;
    body{
      height: auto;
      position: relative;
      overflow: hidden !important;
    }
  }
}

body {
  font-family: $font-family;
  font-weight: $font-weight;
  font-size:$font-size;
  line-height: $line-height;
  color:$color;
  min-width: 360px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}
main {
  background-color: #fff;
}

button, select {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a:hover {
  text-decoration: none;
}
*:focus {
  outline: none;
}

input[type="checkbox"] {
  margin: 0;
}
input[type="text"]::-ms-clear {  display: none; width : 0; height: 0; }
input[type="text"]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
	border: 1px solid #dfdfdf;
	font-size: 16px;
	font-weight: 300;
	padding: 11px 19px;
	resize: none;
	overflow: hidden;
	transition: border .3s;
	&::placeholder {
		font-weight: 300;
	}
	&:active,
	&:focus {
		border-color: #767676;
	}
}

/* styles */

.wrapper {
	max-width: 1140px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}
.flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-column {
	flex-direction: column;
}
.jc-between {
	justify-content: space-between;
}
.jc-center {
	justify-content: center;
}
.ai-center {
	align-items: center;
}
.bold {
	font-weight: 700;
}
.extra-bold {
	font-weight: 800;
}
.uppercase {
	text-transform: uppercase;
}
.text-center {
	text-align: center;
}
.standart-btn {
	width: 300px;
  height: 50px;
	border-radius: 7px;
	background-color: rgb(0, 119, 230);
	text-transform: uppercase;
	font-weight: 800;
	color: #fff;
}
.title-l {
	font-weight: 800;
	font-size: 100px;
	line-height: 1;
}
/**********/
/* HEADER */

.header {
	height: 68px;
	padding: 0 30px 0 20px;
	&__logo {

	}
	&__tel {
		font-size: 16px;
		transition: color .3s;
	}
}

.nav {
	width: 890px;
	&__li {
		cursor: pointer;
		font-size: 12px;
		transition: color .3s;
	}
}

/***************/
/* MAIN-SCREEN */

.main-screen {
	height: 800px;
	padding-top: 200px;
	&-content {
		max-width: 580px;
	}
	&__title {
		font-size: 72px;
		line-height: 84px;
	}
}

/************/
/* SERVICES */

.services {
	margin-top: -120px;
	margin-bottom: 130px;
	&-container {
		border-radius: 7px;
		background-color: #fff;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
	}
	&-item {
		width: 20%;
		height: 240px;
		position: relative;
		cursor: pointer;
		& + .services-item {
			&::before {
				content: "";
				position: absolute;
				height: 150px;
				width: 1px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background-color: #d8ecff;
				transition: background-color .3s;
			}
		}
	}
	&__icon {
		color: #537ea6;
	}
	&-content {
		padding: 0 25px;
		height: 280px;
		width: 100%;
		border-radius: 7px;
		transition: background-color .3s;
	}
}

/**************/
/* ADVANTAGES */

.advantages {
	margin-bottom: 100px;
	&-container {
		margin: 0 0 -55px -30px;
	}
	&__title {
		width: calc(33.33% - 30px);
		margin: 0 0 55px 30px;
		font-size: 60px;
		line-height: 1;
	}
	&-item {
		position: relative;
		width: calc(33.33% - 30px);
		border: 3px solid rgb(216, 236, 255);
		border-radius: 7px;
		padding: 50px 30px 25px;
		margin: 0 0 55px 30px;
	}
	&__icon {
		position: absolute;
		width: 100px;
		background-color: #fff;
		left: 15px;
		top: 0;
		transform: translateY(-50%);
	}
	&__subtitle {
		display: block;
		font-size: 20px;
		line-height: 1;
		margin-bottom: 10px;
	}
	&__text {
		line-height: 20px;
	}
}

/************/
/* AUTOPARK */

.autopark {
	padding: 90px 0 100px;
	margin-bottom: 90px;
	background-color: #e5f0f9;
	&__title {
		margin-bottom: 30px;
	}
	&-item {
		width: 350px;
		padding: 50px 30px 30px;
		border-radius: 7px;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
		background-color: #fff;
	}
	&__img {
		margin-bottom: 50px;
		width: 100%;
	}
	&__car {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 15px;
	}
	&__carrying {
		width: 100%;
		margin-bottom: 10px;
		position: relative;
		padding-left: 30px;
	}
	&__volume {
		width: 100%;
		margin-bottom: 10px;
		position: relative;
		padding-left: 30px;
	}
	&__price {
		width: 100%;
		position: relative;
		padding-left: 30px;
	}
	&__icon {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
}

/********/
/* RENT */

.rent {
	margin-bottom: 130px;
	&__title {
		margin-bottom: 30px;
	}
	&__text {
		margin-bottom: 35px;
	}
	&-container {
		border-radius: 7px;
		background-color: #fff;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
	}
	&-content {
		padding: 80px 30px 0;
		height: 430px;
		width: 100%;
		border-radius: 7px;
		transition: background-color .3s, box-shadow .3s, padding .3s;
	}
	&-item {
		width: 33.33%;
		height: 330px;
		position: relative;
		cursor: pointer;
		& + .rent-item {
			&::before {
				content: "";
				position: absolute;
				height: 220px;
				width: 1px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background-color: #d8ecff;
				transition: background-color .3s;
			}
		}
	}
	&__img {
		max-width: 285px;
		max-height: 145px;
		margin-bottom: 35px;
	}
	&__name {
		margin-bottom: 15px;
		font-size: 24px;
		line-height: 1;
	}
	&__size {
		width: 100%;
		margin-bottom: 10px;
		position: relative;
		padding-left: 30px;
		span:last-of-type {
			font-size: 16px;
		}
	}
	&__price {
		width: 100%;
		position: relative;
		padding-left: 30px;
	}
	&__icon {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	&__btn {
		border-radius: 7px;
		border: 2px solid #537ea6;
		background-color: #fff;
		width: 246px;
  	height: 46px;
  	margin-top: 30px;
  	text-transform: uppercase;
  	font-size: 14px;
  	font-weight: 800;
  	color: $color;
  	opacity: 0;
  	transition: opacity .3s, color .3s, background-color .3s, border-color .3s;
  	&:active {
  		background-color: #fff !important;
  		color: $color !important;
  	}
	}
}

/*********/
/* ABOUT */

.about {
	margin-bottom: 130px;
	&__title {
		margin-bottom: 30px;
	}
	&__img {
		width: 520px;
		margin-right: 50px;
		position: relative;
		img {
			position: absolute;
			left: 50%;
			top: -39px;
			transform: translateX(-50%);
		}
	}
	&__text {
		width: calc(100% - 570px);
	}
}

/****************/
/* TESTIMONIALS */

.testimonials {
	margin-bottom: 140px;
	&__title {
		margin-bottom: 30px;
	}
	&-item {
		width: 540px;
	}
	&-content {
		width: 100%;
		height: 245px;
		background-color: #fff;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.1);
		border-radius: 7px;
		padding: 35px 40px 40px;
		margin-bottom: 50px;
	}
	&-bottom {
		margin-top: 7px;
	}
	&__text {
		max-height: 144px;
		height: 144px;
		overflow: hidden;
	}
	&__date {
		color: #c9e1f7;
		font-size: 16px;
	}
	&__more {
		cursor: pointer;
		user-select: none;
	}
	&__author {
		font-size: 22px;
		line-height: 1;
	}
}

/*********/
/* PRICE */

.price {
	padding: 90px 0;
	margin-bottom: 90px;
	background-color: #e5f0f9;
	&__title {
		margin-bottom: 30px;
	}
	&__subtitle {
		display: block;
		font-size: 20px;
		line-height: 1;
		margin-bottom: 10px;
	}
	&-type {
		margin-bottom: 30px;
		&__ul {
			width: 100%;
			height: 50px;
			background-color: #fff;
			border-radius: 7px;
			box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
		}
		&__li {
			height: 60px;
			width: 33.33%;
			position: relative;
			cursor: pointer;
			border-radius: 7px;
			transition: background-color .3s, box-shadow .3s, color .3s;
			& + .price-type__li {
				&::before {
					content: "";
					position: absolute;
					height: 30px;
					width: 1px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					background-color: #d8ecff;
					transition: background-color .3s, color .3s;
				}
			}
			&.active {
				background-color: #fff;
				color: #0077e6;
				box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
				&::before {
					background-color: #fff;
				}
				& + .price-type__li::before {
					background-color: #fff;
				}
			}
		}
	}
	&-area {
		margin-right: 60px;
	}
	&-size {
		margin-top: 30px;
		margin-bottom: 35px;
		&__ul {
			height: 250px;
			background-color: #fff;
			border-radius: 7px;
			box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
		}
		&__li {
			width: 33.33%;
			height: 260px;
			border-radius: 7px;
			position: relative;
			cursor: pointer;
			transition: background-color .3s, box-shadow .3s;
			& + .price-size__li {
				&::before {
					content: "";
					position: absolute;
					height: 200px;
					width: 1px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					background-color: #d8ecff;
					transition: background-color .3s;
				}
			}
			&.active {
				background-color: #fff;
				box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
				.price-size__name {
					color: #0077e6;
				}
				&::before {
					background-color: #fff;
				}
				& + .price-size__li::before {
					background-color: #fff;
				}
			}
		}
		&__img {
			max-width: 285px;
	    max-height: 145px;
	    margin-bottom: 20px;
		}
		&__name {
			transition: color .3s;
		}
	}
	&-total {
		margin-right: 60px;
		&__value {
			color: #0077e6;
			font-size: 24px;
		}
	}
	&-cost {
		&__value {
			color: #0077e6;
			font-size: 24px;
		}
	}
	&__btn {
		margin-left: auto;
		width: 370px;
	}
}


.amount {
	&__button {
		position: relative;
		width: 50px;
		height: 50px;
		background-color: #fff;
		border-radius: 50%;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
		&::before {
			content: "";
			position: absolute;
			background-color: #537ea6;
			height: 2px;
			width: 14px;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		&_plus {
			&::after {
				content: "";
				position: absolute;
				background-color: #537ea6;
				height: 14px;
				width: 2px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
	&__number {
		width: 120px;
		padding: 0 15px;
		margin: 0 15px;
  	height: 50px;
		border-radius: 15px;
		background-color: #fff;
		box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
		border: none;
		color: $color;
		font-size: 18px;
		text-align: center;
	}
}

/************/
/* CONTACTS */

.contacts {
	margin-bottom: 90px;
	&__title {
		margin-bottom: 60px;
	}
	&-container {
		margin: 0 0 0 -30px;
	}
	&-item {
		position: relative;
		width: calc(25% - 30px);
		border: 3px solid rgb(216, 236, 255);
		border-radius: 7px;
		padding: 50px 25px 25px;
		margin: 0 0 0 30px;
	}
	&__icon {
		position: absolute;
		width: 100px;
		background-color: #fff;
		left: 15px;
		top: 0;
		transform: translateY(-50%);
	}
	&__subtitle {
		display: block;
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 10px;
	}
	&__text {
		font-size: 16px;
		line-height: 20px;
	}
}

/********/
/* FORM */

.form {
	padding-bottom: 140px;
	&__title {
		margin-bottom: 30px;
	}
	&__input {
		border-radius: 7px;
		box-shadow: 0px 0px 30px 0px rgba(0, 119, 230, 0.15);
		background-color: #fff;
		width: 350px;
  	height: 50px;
  	margin-bottom: 20px;
  	& + .form__input {
  		margin-left: 30px;
  	}
	}
	&__textarea {
		border-radius: 7px;
		box-shadow: 0px 0px 30px 0px rgba(0, 119, 230, 0.15);
		width: 730px;
  	height: 92px;
  	margin-right: 30px;
	}
	&-btn {
		width: calc(100% - 760px);
		&__text {
			color: #b3d7f8;
			font-size: 14px;
			line-height: 16px;
			a {
				text-decoration: underline;
			}
		}
	}
	&__btn {
		width: 100%;
	}
}

/**********/
/* FOOTER */

.footer {
	height: 60px;
	background-color: #537ea6;
	color: #fff;
	&__copyrights {
		margin-right: 45px;
		font-size: 16px;
	}
	&__policy {
		font-size: 16px;
	}
}