/* NORMALIZE
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: auto;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
  font-family: inherit;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
  border: none;
  background: transparent;
  padding: 0;
  font-family: inherit;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe/Circe-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carrying:before {
  content: "\e900";
}

.icon-price:before {
  content: "\e901";
}

.icon-services-1:before {
  content: "\e902";
}

.icon-services-2:before {
  content: "\e903";
}

.icon-services-3:before {
  content: "\e904";
}

.icon-services-4:before {
  content: "\e905";
}

.icon-services-5:before {
  content: "\e906";
}

.icon-size:before {
  content: "\e907";
}

.icon-type-1:before {
  content: "\e908";
}

.icon-type-2:before {
  content: "\e909";
}

.icon-type-3:before {
  content: "\e90a";
}

.icon-volume:before {
  content: "\e90b";
}

.icon-check:before {
  content: "\e90c";
}

html {
  overflow-x: hidden;
  min-width: 100%;
  min-height: 100%;
}

html.overflow {
  height: auto;
  position: relative;
  overflow: hidden !important;
  -webkit-overflow-scrolling: touch;
}

html.overflow body {
  height: auto;
  position: relative;
  overflow: hidden !important;
}

body {
  font-family: "Circe", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #537ea6;
  min-width: 360px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
}

main {
  background-color: #fff;
}

button, select {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

a:hover {
  text-decoration: none;
}

*:focus {
  outline: none;
}

input[type="checkbox"] {
  margin: 0;
}

input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
textarea {
  color: #537ea6;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 400;
  padding: 11px 19px;
  resize: none;
  overflow: hidden;
  -webkit-transition: border .3s;
  transition: border .3s;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #c0d6ea;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="number"]::-moz-placeholder,
textarea::-moz-placeholder {
  color: #c0d6ea;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="number"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #c0d6ea;
}

input[type="text"]::-ms-input-placeholder,
input[type="tel"]::-ms-input-placeholder,
input[type="email"]::-ms-input-placeholder,
input[type="number"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #c0d6ea;
}

input[type="text"]::placeholder,
input[type="tel"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
  color: #c0d6ea;
}

input[type="text"]:active, input[type="text"]:focus,
input[type="tel"]:active,
input[type="tel"]:focus,
input[type="email"]:active,
input[type="email"]:focus,
input[type="number"]:active,
input[type="number"]:focus,
textarea:active,
textarea:focus {
  border-color: #1d3144;
}

input[type="text"].error,
input[type="tel"].error,
input[type="email"].error,
input[type="number"].error,
textarea.error {
  border-color: #ff0000;
  color: #ff0000;
}

/* styles */
.wrapper {
  max-width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.jc-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.jc-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ai-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.standart-btn {
  width: 300px;
  height: 50px;
  border-radius: 7px;
  background-color: #0077e6;
  text-transform: uppercase;
  font-weight: 800;
  color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, background-color .3s;
  transition: box-shadow .3s, background-color .3s, -webkit-box-shadow .3s;
}

.standart-btn:active {
  background-color: #3a6185;
}

.title-l {
  font-weight: 800;
  font-size: 100px;
  line-height: 1;
}

.nowrap {
  white-space: nowrap;
}

/**********/
/* HEADER */
.header {
  height: 68px;
  padding: 0 30px 0 20px;
}

.header__tel {
  font-size: 16px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.header__tel:active {
  color: #1d3144;
}

.nav {
  width: 890px;
}

.nav__li {
  cursor: pointer;
  font-size: 12px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.nav__li:active {
  color: #1d3144;
}

/***************/
/* MAIN-SCREEN */
.main-screen {
  height: 800px;
  padding-top: 200px;
  position: relative;
  background: 50% 50% / cover no-repeat;
}

.main-screen__bg {
  position: absolute;
  top: -210px;
  left: -550px;
}

.main-screen-content {
  position: relative;
  max-width: 580px;
  color: #3a6185;
}

.main-screen__title {
  font-size: 72px;
  line-height: 84px;
  position: relative;
  margin-bottom: 10px;
}

.main-screen__text {
  position: relative;
  max-width: 500px;
  margin-bottom: 35px;
}

.main-screen__btn {
  position: relative;
}

/************/
/* SERVICES */
.services {
  position: relative;
  margin-top: -120px;
  margin-bottom: 130px;
}

.services-container {
  border-radius: 7px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
}

.services-item {
  width: 20%;
  height: 240px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.services-item + .services-item::before {
  content: "";
  position: absolute;
  height: 150px;
  width: 1px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #d8ecff;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.services__icon {
  color: #c9e1f7;
  font-size: 75px;
  margin-bottom: 15px;
}

.services-content {
  padding: 65px 25px 0;
  height: 280px;
  width: 100%;
  border-radius: 7px;
  -webkit-transition: background-color .3s, padding-top .3s;
  transition: background-color .3s, padding-top .3s;
}

.services__btn {
  margin-top: 40px;
  opacity: 0;
  cursor: pointer;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.services__btn span {
  margin-right: 20px;
  font-size: 20px;
  color: #fff;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.services__btn .play {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.services__btn .play::after {
  content: "";
  position: absolute;
  border-left: 7px solid #0077e6;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  top: 50%;
  left: calc(50% + 1px);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/**************/
/* ADVANTAGES */
.advantages {
  margin-bottom: 100px;
}

.advantages-container {
  margin: 0 0 -55px -30px;
}

.advantages__title {
  width: calc(33.33% - 30px);
  margin: 0 0 55px 30px;
  font-size: 60px;
  line-height: 1;
}

.advantages-item {
  position: relative;
  width: calc(33.33% - 30px);
  border: 3px solid #d8ecff;
  border-radius: 7px;
  padding: 50px 30px 25px;
  margin: 0 0 55px 30px;
}

.advantages__icon {
  position: absolute;
  width: 100px;
  background-color: #fff;
  left: 15px;
  top: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.advantages__subtitle {
  display: block;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
}

.advantages__text {
  line-height: 20px;
}

/************/
/* AUTOPARK */
.slider-nav {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.slider-arrow {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.slider-arrow::after {
  content: "";
  position: absolute;
  border-left: 7px solid #0077e6;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  top: 50%;
  left: calc(50% + 1px);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-arrow_prev {
  -webkit-transform: scale(-1);
  transform: scale(-1);
}

.slider-counter {
  margin-left: 20px;
  margin-right: 20px;
}

.slider-counter__current {
  font-size: 32px;
  margin-right: 5px;
}

.slider-counter__total {
  font-size: 24px;
  margin-left: 5px;
}

.autopark {
  padding: 90px 0 100px;
  margin-bottom: 90px;
  background-color: #e5f0f9;
  position: relative;
}

.autopark__title {
  position: relative;
}

.autopark .slider-container {
  position: relative;
  height: 525px;
  width: calc(100% + 70px);
  margin-left: -35px;
  overflow-x: hidden;
}

.autopark__bg {
  position: absolute;
  height: 850px;
  top: -5px;
  left: 0;
}

.autopark-item {
  width: 350px;
  padding: 50px 30px 30px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
  background-color: #fff;
  position: absolute;
  top: 35px;
  left: 35px;
  -webkit-transform: translateX(1210px);
  transform: translateX(1210px);
}

.autopark-item.prev {
  -webkit-transform: translateX(-500px);
  transform: translateX(-500px);
}

.autopark-item.first {
  -webkit-transform: none;
  transform: none;
}

.autopark-item.second {
  -webkit-transform: translateX(380px);
  transform: translateX(380px);
}

.autopark-item.third {
  -webkit-transform: translateX(760px);
  transform: translateX(760px);
}

.autopark__img {
  margin-bottom: 50px;
  width: 100%;
}

.autopark__car {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 17px;
}

.autopark__carrying {
  width: 100%;
  margin-bottom: 12px;
  position: relative;
  padding-left: 30px;
}

.autopark__volume {
  width: 100%;
  margin-bottom: 12px;
  position: relative;
  padding-left: 30px;
}

.autopark__price {
  width: 100%;
  position: relative;
  padding-left: 30px;
}

.autopark__icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/********/
/* RENT */
.rent {
  margin-bottom: 130px;
}

.rent__title {
  margin-bottom: 30px;
}

.rent__text {
  margin-bottom: 35px;
}

.rent-container {
  border-radius: 7px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
}

.rent-content {
  padding: 80px 30px 0;
  height: 430px;
  width: 100%;
  border-radius: 7px;
  -webkit-transition: background-color .3s, padding .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, padding .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, box-shadow .3s, padding .3s;
  transition: background-color .3s, box-shadow .3s, padding .3s, -webkit-box-shadow .3s;
}

.rent-item {
  width: 33.33%;
  height: 330px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rent-item + .rent-item::before {
  content: "";
  position: absolute;
  height: 220px;
  width: 1px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #d8ecff;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.rent__img {
  max-width: 285px;
  max-height: 145px;
  margin-bottom: 35px;
}

.rent__name {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1;
}

.rent__size {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
  padding-left: 30px;
}

.rent__size span:last-of-type {
  font-size: 16px;
}

.rent__price {
  width: 100%;
  position: relative;
  padding-left: 30px;
}

.rent__icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rent__btn {
  border-radius: 7px;
  border: 2px solid #537ea6;
  background-color: #fff;
  width: 246px;
  height: 46px;
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  color: #537ea6;
  opacity: 0;
  -webkit-transition: opacity .3s, color .3s, background-color .3s, border-color .3s;
  transition: opacity .3s, color .3s, background-color .3s, border-color .3s;
}

.rent__btn:active {
  background-color: #fff !important;
  color: #537ea6 !important;
}

/*********/
/* ABOUT */
.about {
  margin-bottom: 130px;
}

.about__title {
  margin-bottom: 30px;
}

.about__img {
  width: 520px;
  margin-right: 50px;
  position: relative;
}

.about__img img {
  position: absolute;
  left: 50%;
  top: -39px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.about__text {
  width: calc(100% - 570px);
}

/****************/
/* TESTIMONIALS */
.testimonials {
  margin-bottom: 140px;
}

.testimonials__title {
  margin-bottom: 30px;
}

.testimonials-item {
  width: 540px;
}

.testimonials-content {
  width: 100%;
  height: 245px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.1);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.1);
  border-radius: 7px;
  padding: 35px 40px 40px;
  margin-bottom: 50px;
}

.testimonials-bottom {
  margin-top: 7px;
}

.testimonials__text {
  max-height: 144px;
  height: 144px;
  overflow: hidden;
}

.testimonials__date {
  color: #c9e1f7;
  font-size: 16px;
}

.testimonials__more {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.testimonials__more:active {
  color: #1d3144;
}

.testimonials__author {
  font-size: 22px;
  line-height: 1;
}

/*********/
/* PRICE */
.price {
  padding: 90px 0;
  margin-bottom: 90px;
  background-color: #e5f0f9;
}

.price__title {
  margin-bottom: 30px;
}

.price__subtitle {
  display: block;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
}

.price-type {
  margin-bottom: 30px;
}

.price-type__ul {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
}

.price-type__li {
  height: 60px;
  width: 33.33%;
  position: relative;
  cursor: pointer;
  border-radius: 7px;
  -webkit-transition: background-color .3s, color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, box-shadow .3s, color .3s;
  transition: background-color .3s, box-shadow .3s, color .3s, -webkit-box-shadow .3s;
}

.price-type__li + .price-type__li::before {
  content: "";
  position: absolute;
  height: 30px;
  width: 1px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #d8ecff;
  -webkit-transition: background-color .3s, color .3s;
  transition: background-color .3s, color .3s;
}

.price-type__li.active {
  z-index: 1;
  background-color: #fff;
  color: #0077e6 !important;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
}

.price-type__li.active::before {
  background-color: #fff;
}

.price-type__li.active + .price-type__li::before {
  background-color: #fff;
}

.price-type__li:active {
  color: #1d3144;
}

.price-area {
  margin-right: 60px;
}

.price-area-dropdown {
  position: relative;
  z-index: 2;
  width: 370px;
  padding: 0px 20px;
  border-radius: 7px;
}

.price-area-dropdown.active .price-area__current {
  border-color: #d8ecff;
}

.price-area-dropdown.active .price-area__current::after {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}

.price-area-dropdown.active .price-area__list {
  max-height: 500px;
  padding: 70px 20px 20px;
}

.price-area__current {
  display: block;
  position: relative;
  cursor: pointer;
  z-index: 2;
  padding: 15px 0 10px;
  border-bottom: 1px solid #fff;
  -webkit-transition: border-color .3s;
  transition: border-color .3s;
}

.price-area__current::after {
  content: "";
  position: absolute;
  border-top: 6px solid #537ea6;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.price-area__list {
  width: 100%;
  background-color: #fff;
  border-radius: 7px;
  padding: 50px 20px 0px;
  position: absolute;
  top: 0;
  left: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
  -webkit-transition: max-height .3s, padding .3s;
  transition: max-height .3s, padding .3s;
}

.price-area__item {
  font-size: 18px;
  line-height: 36px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.price-area__item i {
  color: #fff;
  font-size: 11px;
}

.price-area__item.current {
  color: #acc5dc;
  pointer-events: none;
}

.price-area__item.current i {
  color: #acc5dc;
}

.price-area__item span {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.price-size {
  margin-top: 30px;
  margin-bottom: 35px;
}

.price-size__ul {
  height: 250px;
  background-color: #fff;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.13);
}

.price-size__li {
  width: 33.33%;
  height: 260px;
  border-radius: 7px;
  position: relative;
  cursor: pointer;
  -webkit-transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, box-shadow .3s;
  transition: background-color .3s, box-shadow .3s, -webkit-box-shadow .3s;
}

.price-size__li + .price-size__li::before {
  content: "";
  position: absolute;
  height: 200px;
  width: 1px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: #d8ecff;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.price-size__li.active {
  z-index: 1;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
}

.price-size__li.active .price-size__name {
  color: #0077e6 !important;
}

.price-size__li.active::before {
  background-color: #fff;
}

.price-size__li.active + .price-size__li::before {
  background-color: #fff;
}

.price-size__li:active .price-size__name {
  color: #1d3144;
}

.price-size__img {
  max-width: 285px;
  max-height: 145px;
  margin-bottom: 20px;
}

.price-size__name {
  -webkit-transition: color .3s;
  transition: color .3s;
}

.price-total {
  margin-right: 60px;
}

.price-total__value {
  color: #0077e6;
  font-size: 24px;
}

.price-cost__value {
  color: #0077e6;
  font-size: 24px;
}

.price__btn {
  margin-left: auto;
  width: 370px;
}

.amount__button {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
  -webkit-transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, -webkit-box-shadow .3s;
  transition: background-color .3s, box-shadow .3s;
  transition: background-color .3s, box-shadow .3s, -webkit-box-shadow .3s;
}

.amount__button::before {
  content: "";
  position: absolute;
  background-color: #537ea6;
  height: 2px;
  width: 14px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.amount__button_plus::after {
  content: "";
  position: absolute;
  background-color: #537ea6;
  height: 14px;
  width: 2px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.amount__button:active {
  background-color: #fff !important;
}

.amount__button:active::before, .amount__button:active::after {
  background-color: #537ea6 !important;
}

.amount__number {
  width: 120px;
  padding: 0 15px;
  margin: 0 15px;
  height: 50px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
  box-shadow: 0px 0px 40px 0px rgba(0, 119, 230, 0.15);
  border: none;
  color: #537ea6;
  font-size: 18px;
  text-align: center;
}

/************/
/* CONTACTS */
.contacts {
  margin-bottom: 90px;
}

.contacts__title {
  margin-bottom: 60px;
}

.contacts-container {
  margin: 0 0 0 -30px;
}

.contacts-item {
  position: relative;
  width: calc(25% - 30px);
  border: 3px solid #d8ecff;
  border-radius: 7px;
  padding: 50px 25px 25px;
  margin: 0 0 0 30px;
}

.contacts__icon {
  position: absolute;
  width: 100px;
  background-color: #fff;
  left: 15px;
  top: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contacts__subtitle {
  display: block;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
}

.contacts__text {
  font-size: 16px;
  line-height: 20px;
}

.contacts__text a {
  -webkit-transition: color .3s;
  transition: color .3s;
}

/********/
/* FORM */
.form {
  padding-bottom: 140px;
}

.form__title {
  margin-bottom: 30px;
}

.form__input {
  border: none;
  outline: none;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 119, 230, 0.15);
  box-shadow: 0px 0px 30px 0px rgba(0, 119, 230, 0.15);
  background-color: #fff;
  width: 350px;
  height: 50px;
  margin-bottom: 20px;
}

.form__input + .form__input {
  margin-left: 30px;
}

.form__textarea {
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 119, 230, 0.15);
  box-shadow: 0px 0px 30px 0px rgba(0, 119, 230, 0.15);
  width: 730px;
  height: 92px;
  margin-right: 30px;
}

.form-btn {
  width: calc(100% - 760px);
}

.form-btn__text {
  color: #b3d7f8;
  font-size: 14px;
  line-height: 16px;
}

.form-btn__text a {
  text-decoration: underline;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.form-btn__text a:active {
  color: #1d3144 !important;
}

.form__btn {
  width: 100%;
}

/**********/
/* FOOTER */
.footer {
  height: 60px;
  background-color: #537ea6;
  color: #fff;
}

.footer__copyrights {
  margin-right: 45px;
  font-size: 16px;
}

.footer__policy {
  font-size: 16px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.footer__policy:active {
  color: #1d3144 !important;
}

/*********/
/* MODAL */
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.modal {
  overflow: auto;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container {
  position: relative;
  max-width: 100%;
  width: 500px;
  background-color: #fff;
  padding: 50px 60px 60px;
  margin: auto;
  border-radius: 10px;
}

.modal__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.modal input,
.modal textarea {
  width: 100%;
  border: 1px solid #c0d6ea;
  border-radius: 7px;
}

.modal input + input,
.modal input + textarea,
.modal textarea + input,
.modal textarea + textarea {
  margin-top: 20px;
}

.modal input + .modal__politics,
.modal textarea + .modal__politics {
  margin-top: 15px;
}

.modal input:active, .modal input:focus,
.modal textarea:active,
.modal textarea:focus {
  border-color: #1d3144;
}

.modal textarea {
  height: 80px;
}

.modal__btn {
  width: 300px;
  max-width: 100%;
}

.modal__politics {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #b3d7f8;
  text-align: center;
}

.modal__politics a {
  text-decoration: underline;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.modal__button {
  width: 100%;
}

.modal.active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.modal.active .modal-container {
  -webkit-animation: zoom .3s ease-in;
  animation: zoom .3s ease-in;
}

.modal-close {
  cursor: pointer;
  width: 14px;
  height: 14px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: block;
  -webkit-transform: none;
  transform: none;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.modal-close::before {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #b7b7b7;
  position: absolute;
  left: -2px;
  top: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.modal-close::after {
  content: "";
  width: 18px;
  height: 1px;
  background-color: #b7b7b7;
  position: absolute;
  left: -2px;
  top: 6px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

/**********/
/* policy */
.policy {
  background: #fff;
  max-width: 940px;
  margin: 1em auto;
  border: 1px solid #ccc;
  padding: 1em 2%;
}

.policy h1 {
  color: #006dad;
  font-size: 40px;
  text-align: center;
  margin-bottom: 25px;
  margin-top: 25px;
  line-height: 48px;
}

.policy h2 {
  color: #444;
  font-size: 1.8em;
  -webkit-margin-before: 0.83em;
  margin-block-start: 0.83em;
  -webkit-margin-after: 0.83em;
  margin-block-end: 0.83em;
  text-align: center;
}

.policy p {
  color: #333;
  padding: 0 0 0.5em;
  font: 1em Arial;
  line-height: 150%;
  -webkit-margin-before: 1em;
  margin-block-start: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em;
}
